*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    /* background-color:black; */
    color: black;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    /* background-color:; */
}
.logo{
    width: 300;
    height: 160px;
    /* margin-bottom: 15px; */
    margin-top: 50px;

}
ul li{
    display: inline-block;   
}
ul li a{
    text-decoration: none;
    margin-right: 45px;
    font-size: 18px;
    /* color:#fff; */
    font-family: roboto,sans-serif;
    color: black;
    /* margin-left: 60px; */
}
ul li a:hover{
    border-bottom: 2.5px solid rgb(10, 156, 234);
}
#movie-poster{
    margin: 60px 40px;
    

}
.poster1{
    width: 100%;
    filter: brightness(90%);
}
.post{
    color:rgb(255, 185, 185);
    position: absolute;
    transform: translate(-50%,-50%);
    /* font-size: 40px; */
    font-size: 35px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0.5);/* Optional background color with transparency */
    padding: 10px; /* Padding around text */
    border-radius: 5px;
    top: 70%;
    left: 50%;
    width: 60%;
    text-align: center;
}
marquee{
    height: 60px;
    font-size: 35px;
    background-color: #272626;
    align-items: center;
    letter-spacing: 1px;
    color: #fff;
}
/* description part */
#home{
    margin: 80px 40px;
}
#home h1{
    color: #ff004f;
    text-transform: capitalize;
    text-align: center;
    font-size: 3rem;
}

                            /* desc part */
.movie-desc{
    display: flex;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    
}

.poster{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    flex-wrap: wrap;
    width: 30%;
    color: #fff;
 }
.movie-desc img{
    width: 100%;
    background-position: contain;
    display: block;
    border-radius: 10px;
    height: 400px;
    transition: transform 0.5s;
}
.info{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border:10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.7s;
}
.info h3{
    margin-bottom: 10px;
    font-weight: 300;
    /* font-size: 30px; */
    font-size: 25px;
    text-transform: capitalize;
    
}
.info p{
    font-size: 16px;
    
}
.info a{
    margin-top: 8px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 60%;
    text-align: center;
    
    
}
.poster:hover img{
    transform: scale(1.1);
}
.poster:hover .info{
    height: 100%;
}
                   /* character bios */

#character {
   margin: 50px 80px;
   font-family: roboto,sans-serif;
   

}
#character h2{
    font-size: 40px;
    text-align: center;
}
#character img{
    width: 550px;
    
    height: 500px;
    margin-top: 40px;
}
#character .heading{
   display: flex;
}
#character iframe{
   width:550px;
   height: 500px;
   flex-basis: 70%;
   margin-top: 40px;
   margin-left: 2px;
}
#character p{
    font-size: 17px;
    margin:20px 5px;
    
   
    text-align: left;
}
.movie-info{
    
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 30px 20px;
    
}


.movie-info  img{
    height: 300px;
    width: 400px;
    margin: 40px 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
    
}

.charac{
    flex-basis: 105%;
    margin: 10px 40px;
}

/* .charac p{
   margin-top: 10px;
} */


span{
    font-weight: 600;
    font-size: 40px;
    margin-top: 2px;
}
/* .charac p{
    font-size: 15px;
} */
.bios{
    background-color:#d6d5d5;
   color: black;
   height: 30px;
   width: 90%;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 0.85rem;
   margin-bottom: 30px;
   margin-left: 50px;
}
.detail p{
color: rgb(7, 140, 211);
/* font-size: 16px; */
}
.detail strong{
    color: black;
    font-size: 17px;
}
                             


  
                   
                   
                   
                             /* screenshorts  */
.screenshorts{
   font-size: 30px;
    background-size: cover;
    text-align: center;
}
.screenshorts img{
    /* width: 30%; */
    margin: 10px 2px;
    width: 33%;
    background-size: cover;
}
.ss{
    display:flex;
}

        /* quotes part */

#quotes{
    display: flex;
    justify-content: space-between;
     margin: 60px 50px;
}   
#quotes .youtube{
    margin-top: 100px;
}

#quotes iframe{
    height: 650px;
    
}
#quotes h1{
    text-align: center;
    font-size: 40px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#quotes .head{
  flex-basis: 90%;
  
}
.head{
    font-size: 15px;
}
.head .box{
    margin-top: 30px;
}
.super-box{
    /* background-color: whitesmoke; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.box{

    background-color: whitesmoke;
    height: 200px;
    width:90%;
    /* margin-left: 1rem; */
    padding: 20px 0px 15px;
    margin-top: 30px;
    box-shadow: 4px 5px 5px rgb(165, 163, 163);
    
}

.box-cont{
    margin-left: 1rem;
    margin-right: 1rem;
    flex: 4 1 0%;
}
.box-cont span{
    font-size: 17px;
    color: #0E63B3 ;
}
.box-cont a{
    font-size: 25px;
    color:rgb(10, 156, 234) ;
    font-family: Roboto,Arial, Helvetica, sans-serif;
}

                   /* quiz section */

                   .quiz-container {
                    font-family: "Roboto", sans-serif;
                    max-width: 900px;
                    margin: 0 auto;
                    padding: 16px;
                    display: none;
                  }
                  
                  .quiz-container .timer {
                    font-weight: bold;
                    text-align: right;
                  }
                  
                  .timer.danger {
                    color: red;
                  }
                  
                  .quiz-container h2.question {
                    font-size: 20px;
                    background: #d0ecff;
                    padding: 16px;
                    border-radius: 8px;
                    font-weight: normal;
                    line-height: 1.6;
                  }
                  
                  .quiz-container .options {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    gap: 16px;
                    margin-bottom: 20px;
                  }
                  
                  .quiz-container .option {
                    border: none;
                    padding: 24px 32px;
                    font-size: 18px;
                    background: #1d3557;
                    color: #fff;
                  }
                  
                  .quiz-container button {
                    cursor: pointer;
                  }
                  
                  .disabled {
                    pointer-events: none;
                  }
                  
                  .option.correct {
                    background: #51e351;
                    color: #222;
                  }
                  
                  .option.incorrect {
                    background: #e63946;
                  }
                  
                  .quiz-container .next-btn,
                  .quiz-result .retake-btn {
                    background: #222;
                    color: #fff;
                    border: none;
                    padding: 12px 32px;
                    font-size: 20px;
                    text-transform: uppercase;
                    font-weight: bold;
                    letter-spacing: 3px;
                    cursor: pointer;
                    width: fit-content;
                  }
                  
                  .quiz-result {
                    display: none;
                    flex-direction: column;
                    gap: 24px;
                    max-width: 900px;
                    margin: 0 auto;
                    font-family: "Roboto", sans-serif;
                    padding: 16px;
                  }
                  
                  .quiz-result .question-container {
                    padding: 12px;
                    border: 1px solid #eee;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                  }
                  
                  .quiz-result .question-container.incorrect {
                    background: #e63946;
                    color: #fff;
                  }
                  
                  .question-number {
                    font-size: 16px;
                    margin-right: 16px;
                    background: #1d3557;
                    color: #fff;
                    padding: 8px;
                    border-radius: 8px;
                  }
                  
                  @media (max-width: 700px) {
                    .quiz-container .options {
                      grid-template-columns: 1fr;
                    }
                  }
                  
                  .start-btn-container {
                    position: absolute;
                    /* top: 50%; */
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-family: "Roboto", sans-serif;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin-top: 120px;
                    background: #001e4d;
                    border-radius: 4px;
                    width: 60%;
                    height: 250px;

                  }
                  
                  .start-btn-container h2 {
                    font-size: 40px;
                    margin-top: 30px;
                    color: #fff;
                  }
                .start-btn-container p{
                    color: #fff;
                }
                  .start-btn-container .start-btn {
                    background: #e63946;
                    color: #fff;
                    padding: 8px 32px;
                    border-radius: 8px;
                    border: none;
                    font-size: 24px;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-top: 20px;
                  }
                  /* contact part */
            
            #contact-me{
                display: flex;
                align-items: center;
                justify-content: space-around;
                padding:80px 50px;
                background-color: #cacaca;
            }
            .heading1{
                text-align: center;
                font-size: 60px;
                text-transform: uppercase;
                
                
            }
            .contact-right{
                flex-basis: 60%;
            }
            .contact-left{
                flex-basis: 35%;
            }
            .contact-left p{
                margin-top: 30px;
                font-size: 1.2rem;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                letter-spacing: 0.3px;
            
            }
            .contact-left  p i{
                color: #ff004f;
                margin-right: 15px;
                font-size: 25px;
            }
            .social-icon{
                margin-top: 30px;
            }
            .social-icon a{
                text-decoration: none;
                font-size: 30px;
                margin-right:15px ;
                color:blue;
                display: inline-block;
                transition: transform 0.5s;
            }
            .social-icon a:hover{
                transform: translateY(-5px);
                color: #ff004f;
            }

            /* footer */
 .foot{
     width: 100%;
    /* height: 150px ; */
    background: #616161;
    /* margin-top: 20px; */
    font-family: roboto,sans-serif;
    font-size: 14px;
    text-align: center;
    /* margin-top: 400px; */
    padding: 20px 0;
    color: #ababab;

}     
.foot span{
    color: #fff;
    font-size: 14px;
    font-weight: 50;
}             


                        /* footer section */
footer{
    
    background-color: #616161;
    font-family: roboto,sans-serif;
    font-size: 14px;
    text-align: center;
    margin-top: 400px;
    padding: 20px 0;
    width: 100%;
    color: #ababab;
    /* height: 120px; */
    /* margin-bottom: 120px; */
    
}
footer span{
    color: #fff;
    font-size: 14px;
    font-weight: 50;
}